DemoBlog.WebUI/Service References/wcfUserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50105/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50105/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50105/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoBlog.DataAccess.ViewModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsValidUser_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsValidUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UserListSelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:UserListSelectAll" />
  </wsdl:message>
  <wsdl:message name="IUserService_UserListSelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserListSelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateAdminUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAdminUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateAdminUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAdminUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsUserNameExists_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserNameExists" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsUserNameExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserNameExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateUser" message="tns:IUserService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateUserResponse" message="tns:IUserService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/IsValidUser" message="tns:IUserService_IsValidUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/IsValidUserResponse" message="tns:IUserService_IsValidUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserListSelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UserListSelectAll" message="tns:IUserService_UserListSelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UserListSelectAllResponse" message="tns:IUserService_UserListSelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUser" message="tns:IUserService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserResponse" message="tns:IUserService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAdminUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateAdminUser" message="tns:IUserService_CreateAdminUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateAdminUserResponse" message="tns:IUserService_CreateAdminUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserNameExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/IsUserNameExists" message="tns:IUserService_IsUserNameExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/IsUserNameExistsResponse" message="tns:IUserService_IsUserNameExists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/IsValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserListSelectAll">
      <soap:operation soapAction="http://tempuri.org/IUserService/UserListSelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAdminUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateAdminUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserNameExists">
      <soap:operation soapAction="http://tempuri.org/IUserService/IsUserNameExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:50105/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>