DemoBlog.WebUI/Service References/wcfBlogService/BlogService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DemoBlog.DataAccess.EntityModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DemoBlog.DataAccess.EntityModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Blog">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlogID" type="xs:int" />
      <xs:element minOccurs="0" name="BlogText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Blog" nillable="true" type="tns:Blog" />
</xs:schema>